%h1 Administradores
%p
  Para agregar administradores, siga este
  = link_to 'link', new_admin_user_path
%table.table.table-striped
  %thead
    %tr
      %th Correo electronico
      %th Opciones
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td
          = link_to 'Eliminar', admin_user_path(user), method: :delete,
            data: { confirm: '¿Desea continuar?' }, class: 'btn btn-danger'
%p
  Para agregar administradores, siga este
  = link_to 'link', new_admin_user_path
